services:
  backend:
    build:
      # context: .
      dockerfile: Dockerfile
    container_name: snap-journal-nodejs
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - ./service-account-key.json:/app/service-account-key.json
    command: npm run dev
